{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">


<head>
    <meta charset="UTF-8">
    <title>KU-Polls</title>
    <link rel="icon" href="{% static 'polls/images/icon.png' %}">
</head>

<section class="detail-page">
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
        <div class="container">
            <h1>{{ question.question_text }}</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            {% for choice in question.choice_set.all %}
                 <div class="radio-container">
                    <input type="radio"  name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label class="choice" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                 </div>

            {% endfor %}

            {% if question.can_vote %}
                <input type="submit" value="Submit" class="button">
            {% else %}
                <input type="submit" value="Submit" class="button disable" disabled>
            {% endif %}

            <a href="{% url 'polls:index' %}" class="button">Back to List of Polls</a>
            <a href="{% url 'polls:results' question.id %}" class="button">Results</a>

        </div>

    </form>

</section>