body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;


}

/* Adjust background for smaller screens */
@media (max-width: 768px) {
    body {
        background-size: contain;
        background-attachment: scroll;
    }
}

/* index page */
.home h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 40px;
    color: white;
}

.question-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;

    padding: 16px;

    margin-bottom: 8px;
}

.online {
    color: #8CFF66;
}

.offline {
    color: #FF6666;
}

ul > div > li {
      list-style:none;
      color:#ffdc73;
}

li a {
    text-decoration: none;
    font-size: 1.5rem;
    color:#ffdc73;
}

/* Slightly darker background on hover */
li a:hover {
    color: #d1b45c;
}

.button {
    display: inline-block;
    background-color: #51575B;
    color: white;

    min-width: 4rem;
    height: 2rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 8px;
    border-width: 0rem;


    text-decoration: none;

    font-weight: normal;
    text-align: center;

    padding: 4px;
    margin: 4px;

    cursor: pointer;
}

/* Slightly darker background on hover */
.button:hover {
    background-color: #42474a;
}

/* Adds a shrink scale effect when clicking  It's cool isn't it? */
.button:active {
    transform: scale(0.98);
}

.disable {
    background-color: #3b3a3a;
    cursor: not-allowed;
}

#logout-button {
    background-color: #6B6B6B;
    color: white;
    border-color: #6B6B6B;
}

/* Adds a shrink scale effect when clicking  It's cool isn't it? */
.disable:active {
    transform: none;
}

/* Error message */
.messages {
    list-style: none;
    margin: 1em 0 2em;
    padding: 0;
}

.messages li {
    padding: 1em;
    width: 100%;
    color: white;
    line-height: 2.0em;
}

.messages li.error {
    background-color: rgb(146, 0, 0);
}

.messages li.success {
    background-color: rgb(36, 146, 0);
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-radius: 8px;

    margin: 50px;
    margin-top: 36px;
    padding: 30px;

    background-color: rgba(0, 0, 0, 0.6);
}


.container > h1 {
    font-size: 2.5rem;
    color: gold;

    margin-left: 20px;
}

/* detail page */

.detail-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.radio-container input[type="radio"] {
    margin: 20px 16px 20px 44px;
}

.choice {
    flex-grow: 1;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

.choice > span {
    font-size: 0.9rem;
    color: #2cad02;

    border: solid 2px;
    border-color: rgb(36, 146, 0);
    border-radius: 16px;

    padding: 6px;
    margin-left: 15px;
}

.choice:hover {
   color: #dbdbdb;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



/* result page */

.result-page {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}

.result-page * {
    color: white;
}

.total-vote {
    font-size: 1.5rem;
}

.total-vote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percentage-bar {
    background-color: #AE841A;
    border-radius: 16px;

    text-align: center;

}

@keyframes percent_bar_animate {
  from {
    width: 0%;
  }
  to {
    width: var(--end-width);;
  }
}

.percentage-container {
    background-color: #202324;
    border-radius: 16px;
}

.bar {
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Login page */

.login-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr, 0.1fr;

    grid-template-rows: auto; /* Let rows size based on content */

}

.login-page > .container {
    display: flex;
    flex-direction: column;

    border-radius: 8px;

    margin: 50px;
    padding: 30px;
    box-sizing: border-box;

    grid-column: 2;
    grid-row: 2;

    background-color: rgba(0, 0, 0, 0.6);
}

.login-page li {
    margin: 0px;
}
.login-page  .button-container {
    display: flex;
    justify-content: space-around;
}

.login-page  .button-container > .button {
    margin-top: 20px;
    width: 50%;
}

#home-butt {
    margin-top: 0px;
}

/* signup page */

.signup-page {
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.6);

}
.signup-page  * {
    list-style-type: circle;

}

.signup-page .button {
    width: 100%;
    display: block;

    margin-bottom: 12px;
}