{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>KU-Polls</title>
    <link rel="icon" href="{% static 'polls/images/icon.png' %}">
</head>

<html>
<body>
<section class="login-page">
    <div class="container">
    <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
          <button type="submit" class="button">Login</button>
          <a href="{% url 'signup' %}" class="button">Signup</a>
          </p>
          <input type="hidden" name="next" value="{{next}}"/>
         </form>
    </div>
</section>
</body>
</html>