{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>KU-Polls</title>
    <link rel="icon" href="{% static 'polls/images/icon.png' %}">
</head>

<section class="signup-page">
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        <table style="padding: 2ex;">
        {{ form.as_table }}     {# this line shows the sign-up form #}
        <tr>
        <td colspan="2">
        <button type="submit" class="button">Register</button>
            <a href="{% url 'login' %}" class="button">Back to Login</a>
        </td>
        </tr>
        </table>
    </form>
</section>